//Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

// Файл обнуляющих стилей---------------------------------------------
@import "nullstyle.scss";

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 500px;
	color: #212529;
	font-size: 12px;
	background: #F8F9FA;
}

.wrapper{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1270px;
	padding: 0px 15px;
	margin: 0px auto;
	@media (max-width: 1199.98px){
		max-width: 970px;
	}
	@media (max-width: 991.98px){
		max-width: 750px;
	}
	@media (max-width: 767.98px){
		max-width: none;
		padding: 0px 20px;
	}
}

._ibg {
	position: relative;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//BUTTON====================

.button {
	background: rgba(33, 37, 41, 0.3);
	border-radius: 3px;
	font-weight: 700;
	font-size: 8px;
	line-height: 250%;
	text-align: center;
	color: #F8F9FA;
	padding: 3px 12px;
	transition: all 1s ease-in;
	text-transform: uppercase;
	a{
		color: inherit;
	}
	&:hover {
		background: rgba(25, 134, 236, 0.3);
		text-decoration: underline;
	}
}

//PAGE======================
.page{
	flex: 1 1 auto;
}
.page__main-block {
	margin: 0px 0px 99px 0px;
	@media (max-width: 1199.98px) {
		margin: 0px 0px 50px 0px;
		
	}
}
.page__categories {
	margin: 0px 0px 100px 0px;
	@media (max-width: 767.98px) {
		margin: 0px 0px 50px 0px;
		
	}
}

.page__featured-topics {
	margin: 0px 0px 100px 0px;
	padding: 100px 0px;
	@media (max-width: 767.98px) {
		padding: 50px 0px;
		
	}
}

.page__bigworld {
	margin: 0px 0px 80px 0px;
}

//HEADER===================

.header {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 97px;
	padding-top: 10px;
	padding-bottom: 10px;
	column-gap: 15px;
}
.header__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 139%;
	color: #F8F9FA;
}
.header__menu {
}
.menu {
}
.menu__list {
	& li:nth-child(2){
		position: relative;
		img{
			position: absolute;
			top: 35%;
			right: -20%;
		}
	}
	& li:nth-child(3){
		position: relative;
		img{
			position: absolute;
			top: 35%;
			right: 0;
		}
	}
	@media (min-width: 470px) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	& li:not(:last-child){
		margin: 0px 25px 0px 0px;
	}
	& li:nth-child(2){
		margin: 0px 38px 0px 0px;
	}
	& li:nth-child(3){
		margin: 0px 38px 0px 0px;
		img{
			right: -25%;
		}
	}
	& li:nth-child(4){
		margin: 0px 50px 0px 0px;
		position: relative;
		&::after{
			content: "";
			border: 1px solid rgba(229, 229, 229, 0.5);
			transform: rotate(-90deg);
			position: absolute;
			top: 5px;
			right: -140%;
			width: 25px;
		}
	}
}
}
.menu__item {
	@media (max-width: 470px) {
		margin: 0px 0px 10px 0px;
		font-size: 14px;
		
	}
	
	
	
}
.menu__link {
	color: rgba(248, 249, 250, 0.5);
	&:hover{
		text-decoration: underline;
		color: #F8F9FA;;
	}
}


//MAIN-BLOCK==============
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	position: relative;
	z-index: 2;
	padding: 330px 0px 100px 0px;
	max-width: 605px;
	& > *:not(:last-child){
		margin: 0px 0px 15px 0px;
	}
}
.body-main-block {
	font-weight: 300;
	line-height: 167%;
	color: #E5E5E5;
}
.body-main-block__date {
	
}
.body-main-block__titel {
	font-weight: 700;
	font-size: 25px;
	line-height: 160%;
	color: #F8F9FA;
}
.body-main-block__subtitel {
	
}
.main-block__image {
	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

//CATEGORIES===============

.categories {
}
.categories__container {
}
.categories__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 30px;
}
.menu-categories {
	margin: 0px 0px 44px 0px;
	

}
.menu-categories__add {
	line-height: 208%;
	color: #495057;
	opacity: 0.33;
	position: relative;
	img{
		position: absolute;
		top: 30%;
		right: -20%;
	}
}
.menu-categories__structure {
	display: flex;
	column-gap: 20px;
	line-height: 208%;
	color: rgba(73, 80, 87, 0.5);
	a{
		color: inherit;
		&:hover{
			color: #495057;
		}
	}
	
}
.menu-categories__3column {
}
.menu-categories__4column {
}

.categories__column {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 60px -15px;
}
.categories__item {
	position: relative;
	flex: 0 1 33.333%;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	margin: 0px 0px 45px 0px;
	@media (max-width: 991.98px) {
		flex: 0 1 50%;
	}
	@media (max-width: 767.98px) {
		flex: 0 1 100%;
	}
	
}
.item-categories {
}
.item-categories__img {
	margin: 0px 0px 30px 0px;
	position: relative;
	padding-top: 63.6%;
	img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.item-categories__button {
	position: absolute;
	top: 6%;
	right: 7.5%;
	@media (max-width: 767.98px) {
		right: 45%
	}
}

.item-categories__date {
	margin: 0px 0px 15px 0px;
	font-weight: 300;
	line-height: 167%;
	color: #495057;
}
.item-categories__titel {
	font-weight: 700;
	font-size: 25px;
	line-height: 160%;
	margin: 0px 0px 15px 0px;
}
.item-categories__subtitel {
	font-weight: 300;
	line-height: 167%;
	color: #495057;
	position: relative;
	margin: 0px 0px 30px 0px;
	&::after{
		content: "";
		border: 1px solid #E5E5E5;
		transform: rotate(0.15deg);
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		@media (max-width: 767.98px) {
			top: 130%;
		}
	}

}
.item-categories__autor {
	font-weight: 300;
	line-height: 167%;
	color: #495057;
}

.categories__button {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
		& :hover{
			background: #106dca;
		}
	a{
		color: inherit;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 7px 50px;
		background: #212529;
		border-radius: 3px;
		line-height: 208%;
		color: #F8F9FA;
		max-width: 180px;
		transition: all 0.5s ease-in;
	}
}

//Featured topics==================
.featured-topics {
	position: relative;
	background:#212529;
}
.featured-topics__container {
	@media (min-width: 991.98px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		
}
.featured-topics__body {
	position: relative;
	z-index: 2;
	flex: 0 1 50%;
	@media (max-width: 991.98px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}
	
}
.body-featured-topics {
	
}
.body-featured-topics__titel {
	font-size: 25px;
	line-height: 80%;
	color: #F8F9FA;
	margin: 0px 0px 60px 0px;
	@media (max-width: 767.98px) {
		margin: 0px 0px 30px 0px;
		
	}
}
.body-featured-topics__column {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.body-featured-topics__item {
	display: flex;
	column-gap: 30px;
	@media (max-width: 767.98px) {
		column-gap: 10px;
		
	}
}
.item-featured-topics {
	
}
.item-featured-topics__img {
	flex: 0 0 181px;
	min-height: 181px;
	position: relative;
	img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.item-featured-topics__body {
	color: #E5E5E5;
	flex: 1 1 auto;
	@media (min-width: 991.98px) {
		max-width: 287px;
	}
	
	margin: 0px 0px 41px 0px;
	& > *:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
}
.item-featured-topics__date {
	font-weight: 300;
	line-height: 167%;
}
.item-featured-topics__titel {
	font-size: 16px;
	line-height: 156%;
	color: #F8F9FA;
}
.item-featured-topics__subtitel {
	font-weight: 300;
}
.featured-topics__label {
	position: relative;
	z-index: 2;
	text-align: center;
	@media (min-width: 991.98px) {
		flex: 0 1 50%;
		align-items: center;
		justify-content: center;
		text-align: center;
		max-width: 393px;
	}
	& > *:not(:last-child){
		margin: 0px 0px 15px 0px;
	}

}
.featured-topics__titel {
	font-weight: 700;
	font-size: 25px;
	line-height: 160%;
	color: #F8F9FA;
}
.featured-topics__subtitel {
	font-weight: 300;
	line-height: 167%;
	color: #E5E5E5;
}
.featured-topics__image {
	img{
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		@media (max-width: 1199.98px) {
			width: 100%;
			opacity: 0.5;
			
		}

	}
}
//BIGWORLD====================

.bigworld {
}
.bigworld__container {
}
.bigworld__titel {
	font-size: 25px;
	line-height: 80%;
	color: #495057;
	margin: 0px 0px 60px 0px;
}
.bigworld__column {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.bigworld__item {
	flex: 0 1 25%;
	@media (max-width: 991.98px) {
		flex: 0 1 50%;
	}
	@media (max-width: 767.98px) {
		flex: 0 1 100%;
		
	}
	padding: 0px 15px;
	position: relative;
	margin: 0px 0px 20px 0px;
}
.item-bigworld {
	
}
.item-bigworld__img {
	margin: 0px 0px 30px 0px;
	position: relative;
	padding-top: 69.6%;
	img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
}
.item-bigworld__button {
	position: absolute;
	top: 6.6%;
	right: 10%;
}
.item-bigworld__date {
	margin: 0px 0px 15px 0px;
	font-weight: 300;	
	line-height: 167%;
	color: #495057;
}
.item-bigworld__titel {
	margin: 0px 0px 15px 0px;
	font-size: 16px;
	line-height: 156%;
}
.item-bigworld__subtitel {
	font-weight: 300;
	line-height: 167%;
	color: #495057;
}

//FOOTER=============

.footer {
	background: #212529;
	padding: 40px 0px;
}
.footer__top {
	margin: 0px 0px 80px 0px;
	position: relative;
	& ::after {
		content: "";
		border: 1px solid rgba(229, 229, 229, 0.2);
		position: absolute;
		top: 250%;
		left: 0;
		width: 100%;
		@media (max-width: 423.98px) {
			top: 150%;
		}
		
	}
}
.top-footer {
}
.top-footer__container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-between;
	align-items: center;
}
.top-footer__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 139%;
	color: #F8F9FA;
}
.top-footer__body {
	line-height: 208%;
	a{
		color: rgba(248, 249, 250, 0.5);
		&:hover{
			text-decoration: underline;
			color: #FFF;
		}
	}
	display: flex;
	column-gap: 25px;
}
.top-footer__about {
}
.top-footer__archive {
}
.top-footer__contact {
}
.footer__bottom {
	line-height: 167%;
	color: rgba(248, 249, 250, 0.5);
}
.bottom-footer {
}
.bottom-footer__container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-between;
	align-items: center;
}
.bottom-footer__adress {
}
.bottom-footer__copy {
}